version: '2.1'

services:
  mysql:
    volumes:
      - db-volume:/var/lib/mysql
  nginx:
    volumes:
      - mediawiki-volume:/srv/mediawiki
    ports:
      - "${SERVER_PORT:-8080}:80"
  php:
    volumes:
      - mediawiki-volume:/srv/mediawiki
  mediawiki:
    volumes:
      - mediawiki-volume:/srv/mediawiki

volumes:
  mediawiki-volume:
  db-volume:
