# [second(s)] minute(s) hour(s) day(s)_of_month month(s) day(s)_of_week command

11 * * * * /root/update_top_trending.sh
13 3 * * 1 /root/MetaMaint.sh
47 3 * * * /root/update_spam_denylist.sh
02 3 * * * logrotate /root/mysql_logrotate.conf
23 3 * * * /root/backup/run_backup.sh >> /var/log/cron.log 2>&1
23 4 * * * /root/backup/rotate_backups.sh >> /var/log/cron.log 2>&1