[mysqld]
general_log=1   
general_log_file = /var/lib/mysql/mysql.log

# Slow query settings:
slow_query_log=1
slow_query_log_file=/var/lib/mysql/slow.log
long_query_time=5.0

# Error logging
log_error=/var/lib/mysql/mysql_error.log

innodb_temp_data_file_path=ibtmp1:12M:autoextend:max:5G